#packet-tbl {
	padding: 1rem;
	font-family: monospace;
	background-color: #f8f9fa;
	border-radius: 6px;
	width: 100%;
	border-collapse: collapse;
}

#packet-tbl th {
	background-color: rgb(177, 175, 175);
}

#packet-tbl tbody tr {
	height: 40px;
}

#packet-tbl tbody tr:hover {
	background-color: rgb(210, 208, 208);
}

#packet-tbl th {
	text-align: start;
}

#packet-tbl-container {
	min-height: 50%;
	max-height: 50%;
}

#packet-inspector {
	border-top: 4px solid gray;
}